/* Right Sidebar */
.rightSideBar{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.rightInputContainer{
    background-color: white;
    border: 1px solid lightgray;
    padding: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    border-radius: 16px;
}
.rightSideButtons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.rightSideButtons>*{
    border-radius: 100px !important;
    padding: 12px 32px !important;
    background-color: #E37979 !important;
}
.ageContainer{
    display: flex;
    flex-direction: row;
    gap: 32px;
}